<!DOCTYPE html>
<html lang="en">
<head>
    <title>CREATIONS OF PRINCESS</title>
    <link rel="stylesheet" href="../css/products.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="icon" type="image/x-icon" href="../css/images/favicon.ico">
</head>
<body>
    <header>
        <div class = "logo">
            <img class="img" src="../css/images/PB CROCHET LOGO.png">
        </div>
    </header>

    <nav class = "toolbar">
        <ul>
            <li><a href="{{ url_for('index') }}">HOME</a></li>
            <li><a href="{{ url_for('products') }}">PRODUCTS</a></li>
            <li><a href="{{ url_for('contact') }}">CONTACT</a></li>
        </ul>
    </nav>
    
    <main>
        <h2>D = Diameter or Circumference of the bottom of the bag.</h2>
        <h2>H = Height of the bag.</h2>
        <h2>W = Width of the body of the bag.</h2>

        <div class="blurb"><h1>Customizations available upon request.</h1></div>
        
        <!-- Products -->
        <div class="category-header"><h2>BAGS</h2></div>
        <div class="product-list">
            {% for product in products %}
                {% if product.category == "Bags" %}
                    <div class="product">
                        <img class="img" src="{{ product.image_path }}">
                        <div class="product-header">
                            <h2 class="name">{{ product.product_name }}</h2>
                            <h2 class="price">{{ product.price }}</h2>
                        </div>
                        <div class="color">{{ product.color }}</div>
                        <div class="dimensions">{{ product.dimensions }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="category-header"><h2>OTHER BAGS</h2></div>
        <div class="product-list">
            {% for product in products %}
                {% if product.category == "Other Bags" %}
                    <div class="product">
                        <img class="img" src="{{ product.image_path }}">
                        <div class="product-header">
                            <h2 class="name">{{ product.product_name }}</h2>
                            <h2 class="price">{{ product.price }}</h2>
                        </div>
                        <div class="color">{{ product.color }}</div>
                        <div class="dimensions">{{ product.dimensions }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="category-header"><h2>HATS</h2></div>
        <div class="product-list">
            {% for product in products %}
                {% if product.category == "Hats" %}
                    <div class="product">
                        <img class="img" src="{{ product.image_path }}">
                        <div class="product-header">
                            <h2 class="name">{{ product.product_name }}</h2>
                            <h2 class="price">{{ product.price }}</h2>
                        </div>
                        <div class="color">{{ product.color }}</div>
                        <div class="dimensions">{{ product.dimensions }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="blurb">
            <h1>Items are always being added! Check back soon!</h1>
        </div>
    </main>

    <footer>
        &copy; 2023 CREATIONS OF PRINCESS
    </footer>
</body>
</html>

<!--
<script>
    function openPopup(popupID) {
        var popup = document.getElementById(popupID);
        popup.style.display = 'block';
    }

    function closePopup(popupID) {
        var popup = document.getElementById(popupID);
        popup.style.display = 'none';
    }
</script>
-->