<!DOCTYPE html>
<html lang="en">
<head>
    <title>Products - Creations of Princess</title>
    <link rel="stylesheet" href="../css/products.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="icon" type="image/x-icon" href="../css/images/favicon.ico">
</head>
<body>
    <header>
        <div class = "logo">
            <a href="{{ url_for('index') }}"><img class="img" src="../css/images/logo.jpeg"></a>
        </div>
    </header>

    <nav class = "toolbar">
        <ul>
            <li><a href="{{ url_for('index') }}">HOME</a></li>
            <li><a href="{{ url_for('products') }}">PRODUCTS</a></li>
            <li><a href="{{ url_for('contact') }}">CONTACT</a></li>
        </ul>
    </nav>
    
    <main>
        <div class = "container">
            <!-- Key -->
            <div class="key-container">
                <div class="category-header"><h4>KEY</h4></div>
                <p><b>D</b> = Diameter / Circumference of the bottom of the bag.</p>
                <p><b>H</b> = Height of the bag.</p>
                <p><b>W</b> = Width of the body of the bag.</p>
            </div>
            
            <!-- Products -->
            <div class="category-header"><h2>BAGS</h2></div>
            <div class="product-list">
                {% for product in products %}
                    {% if product.category == "Bags" %}
                        <div class="product">
                            <img class="img" src="{{ product.image_path if product.image_path else '..\css\images\placeholder1.jpg' }}">
                            <div class="product-header">
                                <h3 class="name">{{ product.product_name }}</h2>
                                <h3 class="price">${{ product.price }}</h2>
                            </div>
                            <div class="color">{{ product.color }}</div>
                            <div class="dimensions">{{ product.dimensions }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="category-header"><h2>OTHER BAGS</h2></div>
            <div class="product-list">
                {% for product in products %}
                    {% if product.category == "Other Bags" %}
                        <div class="product">
                            <img class="img" src="{{ product.image_path if product.image_path else '..\css\images\placeholder1.jpg' }}">
                            <div class="product-header">
                                <h3 class="name">{{ product.product_name }}</h2>
                                <h3 class="price">${{ product.price }}</h2>
                            </div>
                            <div class="color">{{ product.color }}</div>
                            <div class="dimensions">{{ product.dimensions }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="category-header"><h2>HATS</h2></div>
            <div class="product-list">
                {% for product in products %}
                    {% if product.category == "Hats" %}
                        <div class="product">
                            <img class="img" src="{{ product.image_path if product.image_path else '..\css\images\placeholder1.jpg' }}">
                            <div class="product-header">
                                <h3 class="name">{{ product.product_name }}</h2>
                                <h3 class="price">${{ product.price }}</h2>
                            </div>
                            <div class="color">{{ product.color }}</div>
                            <div class="dimensions">{{ product.dimensions }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </main>

    <footer>
        <div class = "container">
            <div class="socials">
                <a href=""><img class="img" src="../css/images/instagram logo.png"></a>
                <a href=""><img class="img" src="../css/images/youtube logo.png"></a>
            </div>
            &copy; 2024 CREATIONS OF PRINCESS
        </div>
    </footer>
</body>
</html>

<!--
<script>
    function openPopup(popupID) {
        var popup = document.getElementById(popupID);
        popup.style.display = 'block';
    }

    function closePopup(popupID) {
        var popup = document.getElementById(popupID);
        popup.style.display = 'none';
    }
</script>
-->