/* main.css */

body {
    font-family: Georgia, sans-serif;
    background-color:#f5c9c6;
    margin:0;
}

header {
    background-color: white;
    color: #fff;
    padding: 10px;
}

.logo{
    text-align:center;
    padding:0;
}

.logo img{
    width:150px;
    height:auto;
}

footer{
    position: relative;
    bottom:0;
    padding-top:15px;
    padding-bottom:15px;
    color:black;
    text-align:center;
    font-size:12px;
    background-color:#f5c9c6;
}

main {
    text-align: center;
    padding:10px;
    background-color:white;
}

.toolbar{
    background-color:#f5c9c6;
    display:flex;
    justify-content: center;
    margin: 0 auto;
}

.toolbar li {
    display: inline;
    padding: 50px;
}

.toolbar a{
    color:#272727;
}

.toolbar a:hover{
    color:#bde0fe;
}