/* products.css */

.key-container{
    width:300px;
    margin: 0 auto;
    border-style: solid;
    border-color:pink;
    border-width: 5px;
    flex-wrap: wrap;
    padding-left:5px;
}

.key-container h4{
    margin: 0;
    margin-top: 5px;
}

.key-container p{
    font-size:small;
    text-align: left;
    margin: 10px;
}

.product-list{
    display: flex;
    flex-wrap: wrap;
}

.category-header{
    margin:0 auto;
}

.product img{
    max-width:250px;
    width:auto;
    height:225px;
}

.product{
    width:300px;
    height: auto;
    margin-bottom:20px;
    padding:0;
}

.product-header{
    display:flex;
    justify-content:space-between;
    max-width:250px;
    margin:0 auto;
}

.name{
    display:flex;
    justify-content: left;
}

.price{
    color:green;
    display:flex;
    justify-content:right;
}

.color{
    max-width:250px;
    margin:0 auto;
    margin-bottom:10px;
}

.dimensions{
    max-width:250px;
    font-size:15px;
    margin: 0 auto;
}

.price{
    color:green;
}

.product h2{
    margin-top:5px;
    margin-bottom:3px;
}

.product h3{
    margin-top:4px;
}

.product:hover{
    cursor:pointer;
}

.blurb{
    text-align:center;
    margin:0 auto;
}

.blurb h1{
    color:red;
}